.checkbox {
  border: 0;
  padding: 0;
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  outline: none;
  background: var(--checkbox-background-color);
  border-radius: 20px;
  transition: .5s;

}

.checkbox:checked{
  background: var(--checkbox-background-color);
  border: 0;
  border-radius: 20px;
}

.checkbox:focus{
  border: 0;
  border-radius: 20px;

}

.checkbox:before {
  border: 0;
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: var(--checkbox-color);
  transition: .5s;
  transform: scale(1.1);

}

.checkbox:checked:before {
  border: 0;
  left: 40px;
  border-radius: 20px;
  background: var(--checkbox-color);
}