.description__container{
  text-align: center;
  &__left{
    text-align: left;
  }
  &__right{
    text-align: right;
  }



}
.description__container, .description__container__left,.description__container__right {
  margin-top: 25px;
  p{
   margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 15px;
  }
}

.description__title {
  text-align: center;
  &__left {
    text-align: left;
  }
  &__right {
    text-align: right;
  }
}

.description__text {
  text-align: center;
  &__left {
    text-align: left;
  }
  &__right {
    text-align: right;
  }
}