.description__container{
  margin-top: 25px;
  text-align: center;
  height: auto;
  &__left{
    text-align: left;
  }
  &__right{
    text-align: right;
  }

  p{
    color: var(--text-color)
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

}
