.footer {
  &__inner {
    display: block;
  }

  &__item:first-child {
    display: grid;
    grid-template-areas:
    "logo map contacts"
    "logo map work";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  &__logo {
    grid-area: logo;
  }

  &__working_mode {
    margin-top: 25px;
    grid-area: work;
    text-align: center;
    justify-self: right;

    &__inner {
      width: 180px;
    }

    p {
      color: var(--text-color);
      margin: 0;
    }
  }

  &__map {
    grid-area: map;
    justify-self: center;

    iframe {
      border-width: 0;
    }
  }

  &__contacts {
    justify-self: right;
    text-align: center;

    &__icons {
      white-space: nowrap;

    }

    p {
      color: var(--text-color);
      margin: 0 0 10px 0;
    }

    .icon {
      margin: 0;
    }

    .vk__logo {
      margin: 0 15px;
    }
  }

  &__politics__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 0 0 0;

    &__item__link {
      color: var(--link-color);

      &:hover {
        color: var(--link-color-hover);
      }
    }

    &__item:nth-child(1), {
      margin-bottom: 10px;
    }

    &__item:nth-child(2) {
      margin-bottom: 10px;
    }

    &__item:nth-child(odd) {
      text-align: left;
    }

    &__item:nth-child(even) {
      text-align: right;
    }
  }

  &__copyright {
    text-align: center;
    margin: 25px 0 25px 0;

    &__link {
      color: var(--link-color);
      margin: 25px 0 25px 0;

      &:hover {
        color: var(--link-color-hover);
      }
    }
  }
}

.whatsapp__logo, .vk__logo, .instagram__logo {
  cursor: pointer;

  &:hover {
    path {
      fill: var(--icon-color-over-hover);
    }
  }

  path {
    fill: var(--icon-color);
  }
}

@media all and (max-width: 910px) {
  .footer {

    &__map {
      display: none;
    }

    &__item:first-child {
      display: grid;
      grid-template-areas:
    "logo contacts work";
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__contacts {
      justify-self: center;
      text-align: center;
    }

    &__working_mode {
      margin-top: 0;
      text-align: center;
      justify-self: right;

      &__inner {
        width: auto;
      }
    }
  }
}

@media all and (max-width: 511px) {
  .footer {

    &__item:first-child {
      display: grid;
      grid-template-areas:
    "logo"
    "contacts"
    "work";
      grid-template-columns: 1fr;
    }

    &__logo {
      justify-self: center;
    }

    &__contacts {
      margin-top: 25px;
    }

    &__working_mode {
      margin-top: 25px;
      text-align: center;
      justify-self: center;
    }

    &__politics__list {
      display: grid;
      grid-template-columns: 1fr;

      &__item:nth-child(odd) {
        text-align: center;
        margin-bottom: 10px;
      }

      &__item:nth-child(even) {
        text-align: center;
        margin-bottom: 10px;
      }

      &__item:last-child {
        margin-bottom: 0;
      }
    }
  }
}