:root {
    /*COLORS*/
    --black-color: #000000;
    --transparent-black-color: rgba(0, 0, 0, 0.7);
    --white-color: #ffffff;
    --transparent-white-color: rgba(255, 255, 255, 0.7);
    --bright-red-color: #FF1616;

    --dark-purple-color: #2C1B47;
    --purple--color: #7812C9;
    --light-purple-color: #9816FF;
    --bright-purple-color: #DE16FF;
    --dull-purple-color: #F8D0FF;

    --dark-green-color: #1B473C;
    --green--color: #12C998;
    --light-green-color: #16FFBD;
    --bright-green-color: #16FF57;
    --dull-green-color: #D0FFDD;

    --dark-blue-color: #1B3C47;
    --blue--color: #1271C9;
    --light-blue-color: #16D5FF;
    --bright-blue-color: #16FFFF;
    --dull-blue-color: #D0F4FF;

    /*BALLS*/
    --ball-mobile: 100px;
    --ball-desktop: 300px;
    --ball--blur-mobile: 50px;
    --ball--blur-desktop: 150px;
    --ball--blur: var(--ball--blur-desktop);
    --ball-size: var(--ball-desktop);
    --ball-half-size: var(--ball-size) / 2;

    /*TOASTIFY*/
    --toastify-color-light: var(--background-color);
    --toastify-color-success: var(--icon-color-over-hover);
    --toastify-color-error: var(--bright-red-color);
    --toastify-font-family: 'Roboto';
    --toastify-text-color-light: var(--text-color);
}

@media all and (max-width: 1000px) {
    :root {
        --ball--blur: var(--ball--blur-mobile);
        --ball-size: var(--ball-mobile);
    }
}

/*DARK THEME*/
html[data-theme='dark'] {
    --background-color: var(--black-color);
    --background-color-over: var(--transparent-black-color);

    --button-text-color: var(--white-color);
    --button-background-color: var(--dark-green-color);
    --button-background-color-hover: var(--light-green-color);

    --icon-color: var(--white-color);
    --icon-color-hover: var(--light-green-color);

    --icon-color-over: var(--white-color);
    --icon-color-over-hover: var(--light-green-color);

    --text-color: var(--white-color);
    --text-color-over: var(--white-color);
    --text-emphasis-color: var(--light-green-color);
    --text-contour-color: var(--black-color);

    --title-color: var(--light-green-color);
    --title-color-over: var(--white-color);
    --title-contour-color: var(--white-color);

    --link-color: var(--white-color);
    --link-color-hover: var(--light-green-color);

    --link-color-over: var(--white-color);
    --link-color-over-hover: var(--light-green-color);

    --checkbox-color: var(--light-green-color);
    --checkbox-background-color: var(--white-color);

    --border-color: var(--white-color);
    --border-color-hover: var(--light-green-color);
}

/*LIGHT THEME*/
html[data-theme='light'] {
    --background-color: var(--white-color);
    --background-color-over: var(--transparent-white-color);

    --button-text-color: var(--white-color);
    --button-background-color: var(--dark-purple-color);
    --button-background-color-hover: var(--light-purple-color);

    --icon-color: var(--black-color);
    --icon-color-hover: var(--light-purple-color);

    --icon-color-over: var(--white-color);
    --icon-color-over-hover: var(--light-purple-color);

    --text-color: var(--black-color);
    --text-color-over: var(--white-color);
    --text-emphasis-color: var(--light-purple-color);
    --text-contour-color: var(--black-color);

    --title-color: var(--light-purple-color);
    --title-color-over: var(--black-color);
    --title-contour-color: var(--white-color);

    --link-color: var(--black-color);
    --link-color-hover: var(--light-purple-color);

    --link-color-over: var(--white-color);
    --link-color-over-hover: var(--light-purple-color);

    --checkbox-color: var(--light-purple-color);
    --checkbox-background-color: var(--black-color);

    --border-color: var(--black-color);
    --border-color-hover: var(--light-purple-color);
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--icon-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--icon-color-over-hover);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: inherit;
    min-width: 250px;
    font-size: 20px;
    font-weight: 400;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--link-color);
    transition: color 300ms linear;
}

a:hover {
    cursor: pointer;
    color: var(--link-color-hover);
}

strong {
    font-weight: 700;
}

p {
    font-weight: 400;
    transition: color 300ms linear;
}

.title--contour {
    /*-webkit-text-stroke: 1px var(--title-contour-color);*/
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.text--contour {
    /*-webkit-text-stroke: 1px  var(--text-contour-color);*/
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.text--unchanged {
    color: var(--text-color-over);
}

.text__separate {
    color: var(--text-color);
}

.text--big {
    font-size: 24px;
}

.text--important {
    color: var(--text-emphasis-color);
    transition: color 500ms linear;
    font-weight: 700;
}

h1 {
    font-weight: 900;
    overflow: hidden;
    margin-bottom: 25px;
    text-overflow: ellipsis;
    color: var(--title-color);
    font-size: 5vw;
    transition: color 500ms linear;
}


@media all and (max-width: 1025px) {
    h1 {
        font-size: 6vw;
    }
}

@media all and (max-width: 759px) {
    h1 {
        font-size: 10vw;
    }
}

@media all and (max-width: 400px) {
    h1 {
        font-size: 15vw;
    }
}

h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: var(--title-color);
    text-wrap: normal;
    font-size: 24px;
    transition: color 300ms linear;
    margin-bottom: 15px;
}

h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: var(--title-color-over);
    transition: color 300ms linear;
    font-size: 18px;
}

ul {
    padding-inline-start: 0;
}

li {
    margin-left: 25px;
}

br {
    margin-bottom: 25px;
}

input, textarea {
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
    background-color: transparent;
    padding: 10px;
    border: 3px solid var(--border-color);
    transition: border 300ms linear;
    border-radius: 5px;
}

td {
    background: var(--background-color-over);
    border-radius: 5px;
    font-size: 20px;
    font-family: inherit;
    padding: 10px;
}

textarea::placeholder, input::placeholder {
    color: var(--text-color);
}

textarea:focus, input:focus {
    outline-width: 0;
    border: 3px solid var(--border-color-hover);
    transition: border 300ms linear;
    z-index: 5;
    border-radius: 5px;
}

table {
    table-layout: fixed;
    width: 100%;
}

caption > h2 {
    margin-bottom: 10px;
}

td {
    text-align: center;
    overflow: hidden;
    font-size: 20px;
    transition: color 300ms linear;
}

footer {
    font-size: 16px;
}

.container {
    max-width: 2500px;
    padding: 0 25px;
    margin: 0 auto;
}

.sub-container {
    max-width: 1200px;
    min-width: 230px;
    padding: 0 25px;
    margin: 0 auto;
}

button {
    color: var(--button-text-color);
    padding: 10px;
    height: 43px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background: var(--button-background-color);
    border-radius: 5px;
}

button:hover {
    background: var(--button-background-color-hover);
}

button:disabled {
    cursor: auto;
    opacity: 0.5;
    background: var(--button-background-color);
}

/*TO CHANGE CUSTOM LIBRARY STYLES*/

/*SLICK (HERO)*/
.slick-slider, .slick-initialized {
    overflow: hidden;
    user-select: auto !important;
}

.slick-list {
    margin-left: -15px !important;
    margin-right: -15px !important;
    overflow: hidden;
}

.slick-slide div {
    display: flex;
    outline: none
}

.slick-dots li button:before {
    color: var(--icon-color-over) !important;
    opacity: 1 !important;
    font-size: 20px !important;
}

.slick-dots li.slick-active button:before {
    color: var(--icon-color-over-hover) !important;
    transition: color 500ms linear;
}

.slick-prev:before, .slick-prev:focus:before, .slick-next:before, .slick-next:focus:before {
    color: var(--icon-color-over) !important
}


.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    color: var(--icon-color-over-hover) !important;
    transition: color 500ms linear;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
    opacity: 1 !important;
}

.slick-prev, .slick-next {
    width: 42px !important;
    height: 42px !important;
}

/*FSLLIGHTBOX (GALLERY )*/
.fslightbox-flex-centered svg path {
    fill: var(--icon-color-over) !important;
}

.fslightbox-flex-centered:hover svg path {
    fill: var(--icon-color-over-hover) !important;
    transition: color 500ms linear;
}

/*TOASTIFY*/
.Toastify__close-button {
    color: var(--icon-color);
    opacity: 1;
}

.Toastify__close-button:hover {
    color: var(--icon-color-over-hover);
    background: transparent;
}
