.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1;

  &__container {
    padding: 25px;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    min-width: 230px;
    justify-content: space-between;
  }



  &__nav {


    width: 80%;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

      justify-content: center;
      align-items: center;

      &__item {
        transition: opacity .3s ease-in-out;
        white-space: nowrap;

        &__link {
          //font-family: 'Lato';
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          margin-right: 40px;
          color: var(--link-color);

          &__active {
            color: var(--link-color-hover);
          }
          &:hover {
            color:  var(--link-color-hover);
          }
        }
      }

      &:hover &__item:not(:hover) {
        opacity: 0.5;
        transition: opacity .3s ease-in-out;
      }
    }
  }
}

.list_reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.burger_menu {
  width: 64px;
  min-width: 64px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;

}

.burger_menu:hover {
  & span {
    background-color: var(--icon-color-hover);
  }
}
.burger_menu span {
  background-color: var(--icon-color);
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  transition-duration: 500ms;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);

}

.burger_menu span:nth-child(1) {
  top: 0;
  left: 0;
}

.burger_menu span:nth-child(2) {
  top: 17px;
  left: 0;
  opacity: 1;

}

.burger_menu span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.burger_menu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}

.burger_menu.open span:nth-child(2) {
  opacity: 0;
}

.burger_menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}