.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1;

  &__container {
    padding: 25px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 25px;
  }

  &__nav {
    width: 80%;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      &__item {
        transition: opacity .3s ease-in-out;

        &__link {
          font-family: 'Lato';
          font-weight: 700;
          font-size: 20px;
          text-transform: uppercase;
          margin-right: 40px;
          color: #F2F2F2;

          &:hover {
            color: #16FFBD;
          }
        }
      }

      &:hover &__item:not(:hover) {
        opacity: 0.5;
        transition: opacity .3s ease-in-out;
      }
    }
  }
}