.hero {
  height: 1000px;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 600px) {
  .hero {
    height: 600px;
  }
}

.hero__text__container {
  position: absolute;
  width: 100%;
}

.hero__text__container__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  &__discos {
    text-align: right;
  }
  &__movies {
    text-align: left;
  }
  &__birthdays {
    text-align: right;
  }
  &__corporate {
    text-align: left;
  }
  &__parties {
    text-align: left;
  }
  @media all and (max-width: 800px) {
    &__discos, &__movies, &__birthdays, &__corporate, &__parties {
      text-align: center;
    }

  }
  @media all  and (min-width: 2000px) {
    &__discos, &__movies, &__birthdays, &__corporate, &__parties {
      text-align: center;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  object-fit: cover;
}