.wp54_logo {

  .logo {
    fill: var(--icon-color);
    transition: fill 500ms linear
  }
  &:hover {
    .logo {
      fill: var(--icon-color-hover);
      transition: fill 500ms linear;
    }
  }
}

.link {
  font-size: 0;
}