.menu {
  list-style-type: none;
  padding: 25px;
  margin: 0;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  opacity: 0;
  visibility: hidden;
  background: var(--background-color);
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  transition: background 500ms linear, visibility .3s ease-in-out, opacity .3s ease-in-out;
  z-index: 300;

  &.open {
    opacity: 1;
    visibility: visible;

  }

  &__item {
    text-align: center;

    & a {
      position: relative;
      color: #fff;
      text-decoration: none;
      font-size: 3em;
      padding: 5px 20px;
      display: inline-flex;
      font-weight: 700;
    }
  }
}