.priceTable {
justify-content: center;

  p {
    color: var(--text-color-over)
  }
  &:first-child {
    margin-bottom: 25px;
  }
}

.price_table__container {
  text-align: center;
  margin-top: 25px;
}